@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Varela+Round&display=swap');

body {margin:0;
  font-family: Varela Round;
  background-color: #D3D3D3;
}

.navbar{
  display: flex;
  background-color:#24252A;
  position: fixed;
  top:0;
  width: 100%;
  font-size: 20px;
}

.nav-right{
  text-align: right;
  float:right;
}

.nav-right li {
    display: inline;
    float: left;
    padding-left: 15px;
  }

  .nav-right li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color:white;
  }

  .nav-right  li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  .nav-right li a:hover {
    background-color: #555
  }

  .nav-right .active {
    background-color: #555;
  }


/* body section  */

.container{
  background: #fff;
  width: 200px;
  height: 50px;
  display: flex;
}

form input{
  flex: 1;
  border: none;
  outline: none;
}

form .fa-search{
  align-self: center;
  padding: 10px 20px;
  color: #777;
}

.section-body{
    padding-top: 30px;
    padding-left: 15px;
}

.section-body h4{
    font-size: large;
}



footer {
  position: static;
  width: 100vw; /* Use 100vw to span the full width of the screen */
  max-width: 100%; /* Ensure the footer doesn't exceed the screen width */
  background: #111;
  height: auto;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
  font-family: "Varela Round";
  overflow: auto;
  box-sizing: border-box;
  margin: 0; /* Reset any unwanted margins */
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
